:root{
    // fonts

    --font-main: 'Poppins', sans serif;

    // colors

    --color-white: #FFF;
    --color-gray: #474747;
    --color-gray-darker: #202025;
    --color-gray-light: #A7B2C3;
    --color-gray-lighter: #D9D9D9;
    --color-black: #030304;
    --color-green: #00BC4F;

    --text-color: var(--color-white);
    --text-color-constrast: var(--color-gray-lighter);
    --text-color-accent: var(--color-gray-light);

    --background-color: var(--color-black);
    --notification-color: var(--color-green);
    --line-color: var(--color-gray);
    --card-color: var(--color-gray-darker);
}